*.pyc
*.pyo
__pycache__/

*.sqlite3

myvenv/

.idea/
.vscode/

.DS_Store
Thumbs.db

staticfiles/
*.log

*.env
*.secret

*.bak
*.swp
*~

**/migrations/

venv/lib/
venv/include/
venv/scripts/

mysite/__pycache__/
mysite/*.pyc

myvenv/lib/
myvenv/include/
myvenv/scripts/
